@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #deff58;
    --sidebar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body {
    background-color: var(--color-base2);
    color: var(--color-body);
    font-family: var(--font-base), sans-serif;
}
h1,h2,h3,h4,h5{
    color:var(--color-heading);
    font-weight: 400;
}
a{
    text-decoration: none;
    color:var(--color-body);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
a:hover{
    color: var(--color-band);
}
img{
    width:100%;
}
.text-brand{
    color: var(--color-brand);
}
.bg-base{
    background-color:var(--color-base) ;


}
.full-height{
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom:2px solid  rgba(255,255, 255, 0.1)
}
.shadow-effect{
    transition: all 0.5 s time;
    -webkit-transition: all 0.5 s time;
    -moz-transition: all 0.5 s time;
    -ms-transition: all 0.5 s time;
    -o-transition: all 0.5 s time;
}
.shadow-effect:hover{
    box-shadow: -6px 6px 0 0px var(--color-brand);

}
.iconbox{
    width:60px ;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: var(--color-brand);
    color:var(--color-base)
}

.full-height{
    min-height: 100vh;
    height:100%;
    display: flex;
    align-items:center;
    font-size: small;
}
/*NAVBAR*/
.navbar{
    background-color: var(--color-base);
}
.navbar .nav-link{
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.navbar .nav-link:hover{
    color:var(--color-brand);
}
.navbar .nav-link.active{

}
@media(min-width:992px) {
    .navbar{
        min-height: 100vh;
        width:var(--sidebar-width);
        background: linear-gradient(rgba(3, 63, 71, 0.8),rgba(3, 63, 71, 0.8)),url(../assets/images/sidebar.jpg);
        background-position: center;
        background-size: cover;
    } 
    .navbar-brand img{
        border:8px solid var(--color-brand)
    }   
    #content-wrapper{
        padding-left:var(--sidebar-width);

    }
}

.btn{
    padding: 12px 28px;
    font-weight: 700;
}
.btn-brand{
    background-color: var(--color-brand);
    border-color: var(--color-brand);
    border-color: var(--color-brand2);
}
.btn-brand:hover,
.btn-brand:focus{
    background-color:var(--color-brand2);
    color:var(--color-brand);
    border-color: var(--color-brand2);
}
.link-custom{
    font-weight: 700;
    position: relative;

}
.link-custom::after {
    content: "";
    width: 0;
    height: 2px;
    background-color:var(--color-brand);
    /*Specifythebackground-colorproperty*/position: absolute;
    left: 0;
    bottom: -2px;
    /*Adjustedtobebelowthetext*/transition: width 0.4s;
     /* Only transition the width */
    -webkit-transition: width 0.4s;
    -moz-transition: width 0.4s;
    -ms-transition: width 0.4s;
    -o-transition: width 0.4s;
}

.link-custom:hover::after {
    width: 100%;
}





































